/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.07.2016, 13:50:58
    Author     : user
*/

body {    
    background-image: url(../image/bg_blue.gif);
    background-position: top;
}

.menu {
    font-family: Verdana, serif;
    color:blueviolet;
    background-color:white;
    
}

h1 {
    text-align: center;    
}

h1 a {
    color:green;
    text-decoration: none;
    font-family: Times New Roman;
    border-bottom: 3px double gray;
}

.minitext {
    background-color: yellow;
}

.gocomment {
    color: grey;
}
a.readmore:hover {
    color: red;
    text-decoration: none;
}

.article:first-letter {
    font-family: Arial Black;
    color: chartreuse;
    font-size: 24px;
}

.catalog_category {
    list-style-image: url(../image/leaf_black1.png);
    font-size: 20px;
    background-color: darkcyan;
}

.catalog_podcategory {
    list-style-image: url(../image/leaf_white1.png);
    font-size: 14px;
    background-color: darkkhaki;
}

.category {
    width: 300px;
}

.new {
    background-color: red;
    color: white;
}

.image {
    border:10px solid rgba(0,0,0,1.0);
    width: 250px;
    height: 200px;
}

.image:hover {
    border:10px solid rgba(0,0,0,0.0);
    width: 250px;
    height: 200px;
}